@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
        url('../fonts/montserrat-medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
        url('../fonts/montserrat-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@import './vars';

//здесь хранятся шаблоны для часто используемых блоков, начиная с простых, вроде кнопки, и заканчивая комплексными такими как форма
//перед новым блоком пишем его название и отделяем серией тире
//здесь хранятся шаблоны для часто используемых блоков, начиная с простых, вроде кнопки, и заканчивая комплексными такими как форма
//перед новым блоком пишем его название и отделяем серией тире
//Шрифт для всего документа---------------------------------
* {
    font-family: $font;
}

//размер контента внутри секции-----------------------------
.container {
    width: 82.5rem;

    @media (max-width: $l) {
        width: 88.8vw;
    }

    @media (max-width: $s) {
        width: 96vw;
    }
}

//ссылки-----------------------------------------------------
.link {
    color: $text-main;
    text-decoration: none;
}

//header-----------------------------------------------------
.header {
    background: $bg-primary-colored;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.25em;

        @media (max-width: $l) {
            padding: calc(0.4em + (0.25 - 0.4) * ((100vw - 20rem)/ (90 - 20)));
        }
    }

    //логотип
    &__logo {
        @media (max-width: $l) {
            width: calc(3rem + (6 - 3) * ((100vw - 20rem)/ (90 - 20)));
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

    //навигация
    &__link {
        @include adaptive-font (16, 10);
        margin-right: 4.3rem;

        @media (max-width: $l) {
            margin-right: calc(0.6rem + (4.3 - 0.6) * ((100vw - 20rem)/ (90 - 20)));
        }
    }

    //иконки
    &__search {
        margin-right: 2.25rem;
        width: 2.4rem;

        @media (max-width: $l) {
            width: calc(1rem + (2.4 - 1) * ((100vw - 20rem)/ (90 - 20)));
        }

        @media (max-width: $m) {
            margin-right: 0.6vw;
        }

        @media (max-width: $xs) {
            margin-right: 3vw;
        }
    }

    &__account {
        margin-right: 1.12rem;
        width: 2.12rem;

        @media (max-width: $l) {
            width: calc(0.95rem + (2.12 - 0.95) * ((100vw - 20rem)/ (90 - 20)));
        }

        @media (max-width: $m) {
            margin-right: 1.25vw;
        }
    }

    //кнопки
    &__btns {
        @media (max-width: $xs) {
            display: none;
        }
    }

    &__registration {
        @include main-btn ($bg-main-colored, $text-light, 9.4rem);
        margin-right: 0.5rem;

        @media (max-width: $l) {
            @include main-btn ($bg-main-colored, $text-light, 10.4vw);
            margin-right: 1.1vw;
        }

        @include adaptive-font (14, 10);
    }

    &__area {
        @include main-btn ($bg-primary-light, $text-main, 9.4rem);

        @media (max-width: $l) {
            @include main-btn ($bg-primary-light, $text-main, 10.4vw);
        }

        @include adaptive-font (14, 10);
    }
}

//футер--------------------------------------------------

.footer {
    color: $text-main;
    background: $bg-secondary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;

    @media (max-width: $m) {
        height: 11rem;
    }

    @media (max-width: $s) {
        height: 9rem;
    }

    @media (max-width: $xs) {
        height: 8rem;
    }

    //контейнер футера
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 73.5rem;

        @media (max-width: $l) {
            width: 82vw;
        }

        @media (max-width: 75rem) {
            width: 94vw;
        }
    }

    //лого
    &__logo {
        width: 9.4rem;

        @media (max-width: $l) {
            width: calc(5rem + (9.4 - 5) * ((100vw - 20rem)/ (90 - 20)));
        }

        @media (max-width: 58rem) {
            margin-right: 1rem;
        }

        @media (max-width: $s) {
            display: none;
        }
    }

    //расположение текста футера
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 17.3rem;
        min-height: 9.4rem;

        @media (max-width: $m) {
            min-height: 8.5rem;
        }

        @media (max-width: 75rem) {
            max-width: 25vw;
        }

        @media (max-width: $s) {
            min-height: 7rem;
            max-width: 30vw;
        }

        @media (max-width: $xs) {
            min-height: 6rem;
        }

        &:nth-child(2) {
            max-width: 21rem;

            @media (max-width: 75rem) {
                max-width: 25vw;
            }

            @media (max-width: $s) {
                margin-right: 1rem;
                max-width: 30vw;
            }
        }

        &:nth-child(3) {
            @media (max-width: $xs) {
                justify-content: start;
            }

            .footer__title {

                @media (max-width: $m) {
                    margin-bottom: 1.3rem;
                }

                @media (max-width: $xs) {
                    margin-bottom: 1rem;
                }
            }

            .footer__text:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }

        &:not(:last-child) {
            @media (max-width: $s) {
                margin-right: 1rem;
            }
        }

    }

    //размеры текста в футере
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.27rem;

        @media (max-width: $l) {
            @include adaptive-font (23, 12);
        }

        @media (max-width: 75rem) {
            margin-bottom: calc(0.4rem + (1.27 - 0.4) * ((100vw - 20rem)/ (90 - 20)));
        }
    }

    &__text {
        font-size: 1rem;

        @media (max-width: $l) {
            @include adaptive-font (16, 8);
        }

        &:not(:last-child) {
            margin-bottom: 0.75rem;

            @media (max-width: $m) {
                margin-bottom: 0.4rem;
            }

            @media (max-width: $xs) {
                margin-bottom: 0.2rem;
            }

        }
    }
}

//навигация футера
.nav-footer {
    font-size: 1.4rem;

    @media (max-width: $l) {
        @include adaptive-font (23, 14);
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}