@import './vars';

body {
    font-family: $font;
}

//размер контента внутри секции-----------------------------
.container {
    width: 82.5rem;
    margin: 0 auto;

    @media (max-width: $l) {
        width: 88.8vw;
    }

    @media (max-width: $s) {
        width: 96vw;
    }
}

//позиционирование-----------------------------------------
//центрирование
.centering-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//центрирование по краям
.centering-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//заголовки------------------------------------------------
// h1
.main-title {
    font-size: 2.25rem;
    color: $text-light;
    font-weight: 600;
    line-height: 3rem;

    @media (max-width: $l) {
        @include adaptive-font (36, 16);
        line-height: 1.3em;
    }
}

//h2
.second-title {
    font-size: 4.25rem;
    color: $text-main;
    font-weight: 500;

    @media (max-width: $l) {
        @include adaptive-font (68, 30);
    }
}

//h3
.third-title {
    font-size: 2.25rem;
    color: $text-main;
    font-weight: 500;

    @media (max-width: $l) {
        @include adaptive-font (36, 20);
    }
}

//шрифты----------------------------------------------------
@mixin text-24 ($color, $line-height) {
    color: $color;
    line-height: $line-height;
    font-size: 1.5rem;

    @media (max-width: $l) {
        @include adaptive-font(24, 15);
    }
}

//ссылки-----------------------------------------------------
.link {
    color: $text-main;
    text-decoration: none;
}


//Кнопки-----------------------------------------------------

//cтандартная кнопка
@mixin main-btn ($bg-color, $color, $width) {
    background-color: $bg-color;
    color: $color;
    width: $width;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1em;
}

//кнопки заявка о помощи и входа для нко
.btns {
    width: 36rem;
    display: flex;
    justify-content: space-between;
    height: 6.68rem;
    font-size: 1.75rem;
    cursor: pointer;
    font-size: 1.75rem;

    @media (max-width: $l) {
        @include adaptive-font (28, 11);
        height: 3.8em;
        width: 20.5em;
    }
}

.help {
    @include main-btn ($bg-main-colored, $text-light, 17.5rem);

    @media (max-width: $l) {
        width: 10em;
    }
}

.nko-account {
    @include main-btn ($bg-primary-light, $text-main, 17.5rem);

    @media (max-width: $l) {
        width: 10em;
    }
}

//мятная кнопка
@mixin mint-btn ($width, $height) {
    width: $width;
    height: $height;
    background-color: $bg-primary-colored;
    color: $text-light;
    border-radius: 0.625rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

//белая кнопка из формы пожертвования
@mixin light-btn ($width, $height) {
    width: $width;
    height: $height;
    background-color: $bg-primary-light;
    color: $text-main;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
}

//линия
@mixin hr {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #000;
    flex-grow: 1;
}

//форма пожертвования----------------------------------------------------
//размеры формы
.donation-form {
    background: $bg-secondary-light;
    border: 1px solid;
    width: 46.5rem;
    height: 56.56rem;
    flex-direction: column;
    @include adaptive-font (26, 10);

    @media (max-width: $l) {
        width: 31em;
        height: 34.8em;
    }

    @media (max-width: $m) {
        border: none;
        height: 40em;
    }

    @media (max-width: $xs) {
        height: 45em;
    }

    hr {
        @include hr;
    }

    //размеры контейнера внутри
    &__container {
        width: 37rem;

        @media (max-width: $l) {
            width: 22.7em;
        }

        @media (max-width: $m) {
            width: 28em;
        }

        @media (max-width: $s) {
            width: 29em;
        }
    }

    //позиционирование блоков
    &__title {
        text-align: center;
        margin-bottom: 1.88rem;

        @media (max-width: $l) {
            margin-bottom: 0.83em;
        }
    }

    &__regularity-btns {
        width: 100%;
        margin-bottom: 0.88rem;

        @media (max-width: $l) {
            margin-bottom: 0.58em;
        }

        @media (max-width: $xs) {
            margin-bottom: 0.4em;
        }
    }

}

//Кнопки регулярности пожертвований
.payment__monthly {
    @include mint-btn (17rem, 5rem);
    font-size: 1.75rem;

    @media (max-width: $l) {
        @include adaptive-font (28, 12);
        @include mint-btn (9.7em, 2.85em);
    }

    @media (max-width: $m) {
        @include mint-btn (11.5em, 2.85em);
    }
}

.payment__one-time {
    font-size: 1.75rem;
    @include light-btn (17rem, 5rem);

    @media (max-width: $l) {
        @include adaptive-font (28, 12);
        @include light-btn (9.7em, 2.85em);
    }

    @media (max-width: $m) {
        @include light-btn (11.5em, 2.85em);
    }
}

//позиционирование полоски с мин-заголовками
.payment__text {
    width: 100%;
}

//мини-заголовки
.payment__title {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem;

    @media (max-width: $l) {
        @include adaptive-font (26, 14);
        margin: 0.61em;
    }
}

//кнопки с суммой пожертвования
.sum-btns {
    width: 100%;
    margin-bottom: 0.12rem;
}

.sum-btns>* {
    font-size: 1.25rem;
    @include light-btn (10.9rem, 3.75rem);

    @media (max-width: $l) {
        @include adaptive-font (20, 10);
        @include light-btn (8.72em, 3em);
    }

    @media (max-width: $m) {
        @include light-btn (9em, 3em);
    }
}

//Кнопка выбора платёжной системы
.types-of-payment {
    @include light-btn (100%, 5rem);
    margin-bottom: 0.81rem;
    font-size: 1.125rem;

    @media (max-width: $l) {
        @include adaptive-font (18, 10);
        @include light-btn (100%, 2.85em);
        margin-bottom: 0.6em;
    }

    @media (max-width: $xs) {
        @include adaptive-font (18, 12);
    }

    &__img {
        width: 9.44rem;
        height: 2.6rem;

        @media (max-width: $l) {
            width: 5.8em;
            height: 1.6em;
        }

        @media (max-width: $xs) {
            display: none;
        }

    }

    &__img:not(:last-child) {
        margin-right: 0.5rem;

        @media (max-width: $l) {
            margin-right: 0.3em;
        }

        @media (max-width: $m) {
            margin-right: 0;
        }
    }
}

//оформление инпутов
.payment__input {
    @include light-btn (100%, 3.75rem);
    outline: none;
    font-size: 1.25rem;

    @media (max-width: $l) {
        @include adaptive-font (20, 10);
        @include light-btn (100%, 3em);
    }

    @media (max-width: $m) {
        @include light-btn (100%, 3em);
    }

    &_text {
        text-indent: 1.94rem;
        margin-bottom: 0.9rem;

        @media (max-width: $l) {
            text-indent: 0.72em;
        }
    }

    &_first {
        margin-bottom: 0.81rem;

        @media (max-width: $l) {
            margin-bottom: 0.6em;
        }
    }

}

//цвет плэйсхолдера
::-webkit-input-placeholder,
:-moz-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
    color: $text-dark;

    @media (max-width: $xs) {
        color: $text-main
    }
}


//оформление ссылок в инпутах
.payment__link {
    color: $text-dark;
    text-decoration: none;

    &_border {
        border-bottom: 1px solid;
    }
}

.payment__link:hover {
    cursor: pointer;
}


//оформление чекбоксов
.payment__checkbox {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 1.38rem;
    line-height: 1.3em;

    @media (max-width: $l) {
        @include adaptive-font (18, 12);
        margin-bottom: 1.22em;
    }

    &.payment__checkbox_first,
    >.payment__document {
        border: none;
        margin-bottom: 0.3rem;

        @media (max-width: $l) {
            margin-bottom: 0.26em;
        }
    }

    .payment__document {
        width: 2.8rem;
        height: 2.8rem;
        margin-right: 1rem;
        position: relative;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-style: dashed;
        border-width: 1px;
        border-color: $bg-black;
        background-color: $bg-primary-light;

        @media (max-width: $l) {
            width: 2em;
            height: 2em;
            margin-right: 0.8em;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-image: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:checked::before {
            background-image: url('../images/icons/payment__check-mark.png');
            background-size: 80% auto;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: $l) {
                background-size: 70% auto;
            }
        }
    }
}

//итоговая кнопка пожертвовать
.payment__donation {
    @include mint-btn (100%, 5rem);
    font-size: 2.25rem;

    @media (max-width: $l) {
        @include mint-btn (100%, 2em);
        @include adaptive-font (36, 18);
    }
}


//скролл-----------------------------------------
@mixin scroll ($max-height) {
    max-height: $max-height;
    overflow: auto;
    scrollbar-width: 1rem;
    scrollbar-color: $bg-grey-light;
    padding-right: 1em;

    @media (max-width: $m) {
        scrollbar-width: 0.5rem;
    }

    @media (max-width: $s) {
        scrollbar-width: 0.25rem;
    }
}

.scroll::-webkit-scrollbar {
    width: 1rem;
    background-color: $bg-grey-light;
    border-radius: 1rem;

    @media (max-width: $m) {
        width: 0.5rem;
    }

    @media (max-width: $s) {
        width: 0.25rem;
        background-color: $bg-grey;

    }
}

.scroll::-webkit-scrollbar-track {
    background-color: $bg-grey-light;
    border-radius: 1rem;
    -webkit-box-shadow: 1rem;

    @media (max-width: $s) {
        background-color: $bg-grey;
    }
}

.scroll::-webkit-scrollbar-thumb {
    background-color: $bg-primary-colored;
    border-radius: 1rem;

    @media (max-width: $m) {
        background-color: $bg-main-colored;

    }
}

//header-----------------------------------------------------

.header {
    background: $bg-primary-colored;

    &__container {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.25em;

        @media (max-width: $l) {
            @include adaptive-font (16, 10);
            padding: 0.4em;
        }
    }

    //логотип
    &__logo {
        width: 6rem;

        @media (max-width: $l) {
            width: 6em;
        }

        @media (max-width: $xs) {
            width: 5em;
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

    //навигация
    &__link {
        margin-right: 4.3rem;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $m) {
            margin-right: 1em;
        }

        @media (max-width: $s) {
            margin-right: 0.4em;
        }

        @media (max-width: $xs) {
            margin-right: 1em;
        }
    }

    &__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        display: none;
        background-color: $text-light;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    
    &__link:hover:after {
        display: block;
    }

    //иконки
    &__search {
        margin-right: 2.25rem;
        width: 2.4rem;

        @media (max-width: $l) {
            width: 2.4em;
        }

        @media (max-width: $m) {
            margin-right: 0.6vw;
        }

        @media (max-width: $s) {
            width: 2em;
        }

        @media (max-width: $xs) {
            margin-right: 3vw;
        }
    }

    &__account {
        margin-right: 1.12rem;
        width: 2.12rem;

        @media (max-width: $l) {
            width: 2.12em;
        }

        @media (max-width: $m) {
            margin-right: 1.25vw;
        }

        @media (max-width: $s) {
            width: 1.5em;
        }
    }

    //кнопки
    &__btns {
        @media (max-width: $xs) {
            display: none;
        }
    }

    //зарегистрироваться
    &__registration {
        font-size: 0.875rem;
        @include main-btn ($bg-main-colored, $text-light, 9.4rem);
        margin-right: 0.5rem;

        @media (max-width: $l) {
            @include adaptive-font (14, 9);
            @include main-btn ($bg-main-colored, $text-light, 9.4em);
            margin-right: 1.1vw;
        }

        @media (max-width: $s) {
            @include main-btn ($bg-main-colored, $text-light, 9em);
        }

    }

    //войти в аккаунт
    &__area {
        font-size: 0.875rem;
        @include main-btn ($bg-primary-light, $text-main, 9.4rem);

        @media (max-width: $l) {
            @include adaptive-font (14, 9);
            @include main-btn ($bg-primary-light, $text-main, 9.4em);
        }

        @media (max-width: $s) {
            @include main-btn ($bg-primary-light, $text-main, 9em);
        }
    }
}

//футер--------------------------------------------------

.footer {
    color: $text-main;
    background: $bg-secondary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    font-size: 1rem;

    @media (max-width: $l) {
        @include adaptive-font (16, 10);
    }

    @media (max-width: $m) {
        height: 11rem;
    }

    @media (max-width: $s) {
        height: 9rem;
    }

    @media (max-width: $xs) {
        height: 8rem;
    }

    //контейнер футера
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 73.5rem;

        @media (max-width: $l) {
            width: 82vw;
        }

        @media (max-width: 75rem) {
            width: 94vw;
        }
    }

    //лого
    &__logo {
        width: 9.4rem;

        @media (max-width: $l) {
            width: 9em;
        }

        @media (max-width: 58rem) {
            margin-right: 1rem;
        }

        @media (max-width: $s) {
            display: none;
        }
    }

    //расположение текста футера
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 17.3rem;
        min-height: 9.4rem;

        @media (max-width: $m) {
            min-height: 8.5rem;
        }

        @media (max-width: 75rem) {
            max-width: 25vw;
        }

        @media (max-width: $s) {
            min-height: 7rem;
            max-width: 30vw;
        }

        @media (max-width: $xs) {
            min-height: 6rem;
        }

        &:nth-child(2) {
            max-width: 21rem;

            @media (max-width: 75rem) {
                max-width: 25vw;
            }

            @media (max-width: $s) {
                margin-right: 1rem;
                max-width: 30vw;
            }
        }

        &:nth-child(3) {
            @media (max-width: $xs) {
                justify-content: start;
            }

            .footer__title {

                @media (max-width: $m) {
                    margin-bottom: 1.3rem;
                }

                @media (max-width: $xs) {
                    margin-bottom: 1rem;
                }
            }

            .footer__text:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }

        &:not(:last-child) {
            @media (max-width: $s) {
                margin-right: 1rem;
            }
        }

    }

    //размеры текста в футере
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.27rem;

        @media (max-width: $l) {
            @include adaptive-font (23, 12);
        }

        @media (max-width: 75rem) {
            margin-bottom: 0.88em;
        }
    }

    &__text {
        font-size: 1rem;

        @media (max-width: $l) {
            @include adaptive-font (16, 8);
        }

        &:not(:last-child) {
            margin-bottom: 0.75em;
        }
    }
}

//навигация футера
.nav-footer {
    font-size: 1.4rem;

    @media (max-width: $l) {
        @include adaptive-font (23, 14);
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


//подключение шрифтов-----------------------------------

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
        url('../fonts/montserrat-medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
        url('../fonts/montserrat-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}