// Здесь хранятся основные переменные для цветов, шрифтов, размеров, брейкпоинтов и так далее

// Цвета сайта
$text-main: #156963;
$text-dark: #000000;
$text-light: #FFFFFF;

$bg-main-colored: #156963;
$bg-primary-colored: #83BFBC;
$bg-tertiary-colored: #6DA5A2;
$bg-primary-light: #FFFFFF;
$bg-secondary-light: #ECEEF2;

// Шрифты
$font: 'Montserrat', sans-serif;
$maxWidth: 1280;

$maxWidth: 1280;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//14-10
//16-10
//23-14





//Кнопки
@mixin main-btn ($bg-color, $color, $width) {
    background-color: $bg-color;
    color: $color;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding: 0.8em;
    min-width: $width;
}

//брейкпоинты
$l: 90rem; //1440
$m: 64rem; //1024
$s: 48rem; //768
$xs: 35rem; //560