// Цвета сайта
$text-main: #156963;
$text-dark: #000000;
$text-light: #FFFFFF;
$text-green-light: #83BFBC;

$bg-main-colored: #156963;
$bg-primary-colored: #83BFBC;
$bg-tertiary-colored: #6DA5A2;
$bg-primary-light: #FFFFFF;
$bg-secondary-light: #ECEEF2;
$bg-black: #000000;
$bg-grey: #BEBEBE;
$bg-grey-light: #DEDEDE;

// Шрифты
$font: 'Montserrat', sans-serif;
//значения мин шрифта, в зависимости от макс (не обязательные, использовала другой-написала сюда)
//14-9
//16-10
//18-10
//18-12
//20-10
//22-14
//22-16
//23-12
//23-14
//24-15
//26-10
//26-14
//28-12
//30-19
//32-20
//36-16
//36-18
//36-20
//68-30

//Кнопки
@mixin main-btn ($bg-color, $color, $width) {
    background-color: $bg-color;
    color: $color;
    width: $width;;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 1em;
    font-weight: 500;
}

//брейкпоинты
$l: 90rem; //1440
$m: 64rem; //1024
$s: 48rem; //768
$xs: 35rem; //560



//адаптивность шрифта
$maxWidth: 1440;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
