// Цвета сайта
$text-main: #156963;
$text-dark: #000000;
$text-light: #FFFFFF;

$bg-main-colored: #156963;
$bg-primary-colored: #83BFBC;
$bg-tertiary-colored: #6DA5A2;
$bg-primary-light: #FFFFFF;
$bg-secondary-light: #ECEEF2;
$bg-black: #000000;
$bg-grey: #bebebe;

// Шрифты
$font: 'Montserrat', sans-serif;

//брейкпоинты
$l: 90rem; //1440
$m: 64rem; //1024
$s: 48rem; //768
$xs: 35rem; //560
//я часто использовала ещё 51rem