// Здесь хранятся основные переменные для цветов, шрифтов, размеров, брейкпоинтов и так далее

// Цвета сайта
$text-dark: #000000;
$text-colored: #156963;
$text-light: #FFFFFF;

$bg-primary-colored: #83BFBC;
$bg-secondary-colored: #156963;
$bg-tertiary-colored: #6DA5A2;
$bg-primary-light: #FFFFFF;
$bg-secondary-light: #ECEEF2;

// Шрифты
$font: 'Montserrat', sans-serif;

// Размеры шрифтов

//16px-10px навигация хедер
$font-nav-max: 1rem;
$font-nav-min: 0.625rem;

//14px-8px кнопки хедер
$font-btn-s-max: 0.875rem;
$font-btn-s-min: 0.5rem;

//36px-24px заголовок страницы
$font-title-max: 2.25rem;
$font-title-min: 1.5rem;

//28px-20px кнопки на первом блоке
$font-btn-l-max: 1.75rem;
$font-btn-l-min: 1.25rem;

//24px-16px текст в сецкиях и на первом блоке
$font-text-max: 1.5rem;
$font-text-min: 1rem;

//26px-18px подзаголовки в форме
$font-form-subtitle-max: 1.625rem;
$font-form-subtitle-min: 1.125rem;

//20px-14px значения в форме
$font-form-value-max: 1.25rem;
$font-form-value-min: 0.875rem;

//18px-12px уменьшенные значения в форме
$font-form-value-s-max: 1.125rem;
$font-form-value-s-min: 0.75rem;

//68px-36px заголовки секций
$font-title-xl-max: 4.25rem;
$font-title-xl-min: 2.25rem;

//32px-22px заголовки новостей
$font-news-title-max: 2rem;
$font-news-title-min: 1.375rem;

//22px-14px текст новостей
$font-news-max: 1.375rem;
$font-news-min: 0.875rem;

//30px-20px кнопка под новостями
$font-btn-news-max: 1.875rem;
$font-btn-news-min: 1.25rem;

//23px-16px заголовок футера
$font-title-footer-max: 1.4375rem;
$font-title-footer-min: 1rem;

//16px-10px текст футер
$font-footer-max: 1rem;
$font-footer-min: 0.625rem;

//23px-16px навигация футера
$font-nav-footer-max: 1.4375rem;
$font-nav-footer-min: 1rem;

//брейкпоинты
$l: 90em;
$s: 48em;