@import './vars';
@import './templates';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

// * { margin: 0;
//     padding: 0;
//     border: 1px solid !important;
//     }

// body {
//     background-color:$bg-primary-colored;
// }

// <!-- Название НКО -->

// кнопка help
.help {
    @include mint-btn (17.5rem, 6.68rem);
    font-size: 1.75rem;

    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        height: 4em;
        width: 12em;
}
}
// кнопка help

.about-nko{
&__container{
    background-color: $bg-primary-light;
    background-image: url(../../assets/images/design/background_about-nko.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;


    @media (max-width:$m) {
        width: 100vw;
        height: 30rem;
}
@media (max-width:$s) {
    width: 100vw;
    height: 25rem;
    background-position: right;
    margin-bottom: 3rem;
}
@media (max-width:$xs) {
    width: 100vw;
    height: 20rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}
}


&__content {
    width:50vw ;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5em;
    padding-right: 5rem;
    
    @media (max-width:$xs) {
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 0rem;
    }
}

&__title {
        font-size: 4.25rem;
        font-weight: 700;
        color: $text-light;
        text-align: center;

        @media (max-width: $l) {
            @include adaptive-font (68, 26);
}
}
}
// <!-- Название НКО -->

// <!-- Описание НКО -->
.nko-page{
    padding-bottom: 3rem;
    @media (max-width:$m) {
        padding-bottom: 2rem;
        @media (max-width:$xs) {
            padding-bottom: 1rem;
         }
     }

&__container{
    max-width: 72rem;
    text-align: justify;
    @media (max-width: $l) {
        max-width: 80vw;
        
    }
}
&__title{
    font-size: 2.25rem;
    font-weight: 600;
    color: $text-main;
    line-height: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    @media (max-width: $l) {
        @include adaptive-font (36, 18);
        
    }
     @media (max-width:$m) {
        line-height: 3rem;
        margin-bottom: 2rem;
    }
     @media (max-width:$s) {
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
     }
}
&__ogrn {
    font-size: 1.75rem;
    margin-bottom: 3rem;
    color: $text-main;
    text-align: center;
    @media (max-width:$m) {
        font-size: 0.7rem;
        margin-bottom: 2rem;

     }
}

&__text{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    color: $text-dark;

    @include text-24 ($text-dark, 1.8rem);
    margin-bottom: 2em;

    @media (max-width: $l) {
        line-height: 1.5em;
    }

    @media (max-width: $xs) {
        margin-bottom: 1.5rem;
    }
}
}

.reports-nko {
    padding-bottom: 4rem;
    @media (max-width:$xs) {
        padding-bottom: 3rem;
    }
    &__container {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $l) {
        max-width: 80vw;
    }
}
    &__title {
        font-size: 2.25rem;
        font-weight: 500;
        color: $text-main;
        margin-bottom: 3rem;
        @media (max-width: $l) {
            @include adaptive-font (36, 20);
            text-align: center;
        }
            @media (max-width:$m) {
            margin-bottom: 2rem;
        }
            @media (max-width:$s) {
            margin-bottom: 1.5rem;
        }
    }
    
    &__item {
    @include main-btn ($bg-primary-light, $text-main, 28rem,);
    height:  6.25rem;
    border-style: dotted;
    font-size: 1.75rem;
    
    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        height: 4em;
        width: 12em;
}
}
}

// <!-- Отчеты о проделанной работе -->

//Документы
.documents{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    row-gap: 3rem;
    padding-bottom: 4rem;

&__title{
        font-size: 2.25rem;
        color: $text-main;
        font-weight: 500;
        margin-bottom: 3rem;
        @media (max-width: $l) {
            @include adaptive-font (36, 20);
            text-align: center;
        }
        @media (max-width:$m) {
            margin-bottom: 2rem;
        }
        @media (max-width:$s) {
            margin-bottom: 1.5rem;
        }
    }

&__buttons{
    display: flex;
    justify-content: space-between;
    @media (max-width:$m) {
        gap: 1rem;
    }
    @media (max-width:$s) {
        flex-direction: column;
        gap: 1.5rem;
    }
}

&__link{
    font-size: 1.75rem;
    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        text-align: center;
    }
}
.doc-button-item{
    @include mint-btn (24rem, 8rem);
    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        height: 4em;
        width: 12em;
}
}
}
//Документы
// Отзывы
// .reviews{
//     text-align: center;
//     display: grid;
//     grid-template-rows: 1fr, 1fr;
//     row-gap: 3rem;
//     padding-bottom: 4rem;

// &__title{
//         font-size: 2.25rem;
//         color: $text-main;
//         font-weight: 500;
//         margin-bottom: 3rem;
//         @media (max-width: $l) {
//             @include adaptive-font (36, 20);
//             text-align: center;
//         }
//         @media (max-width:$m) {
//             margin-bottom: 2rem;
//         }
//         @media (max-width:$s) {
//             margin-bottom: 1.5rem;
//         }
//     }

// &__block{
//     display: flex;
//     justify-content: space-between;
//     @media (max-width:$m) {
//         gap: 1rem;
//     }
//     @media (max-width:$s) {
//         flex-direction: column;
//         gap: 1.5rem;
//     }
// }
// &__item{
//     font-size: 1.75rem;
//     border: 0.1rem;
//     @media (max-width: $l) {
//         @include adaptive-font (28, 14);
//         text-align: center;
//     }
// }
// .doc-button-item{
//     @include mint-btn (24rem, 8rem);
//     @media (max-width: $l) {
//         @include adaptive-font (28, 14);
//         height: 4em;
//         width: 12em;
// }
// }
// }
// Это базовая структура слайдера с тремя отзывами. Вы можете добавить или удалить слайды, а также настроить стили под свои потребности. Для добавления функциональности слайдера, такой как автоматическое пролистывание или кнопки навигации, потребуется использование JavaScript.
.slider-container {
  width: 500px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 200px;
//   display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide:first-child {
  display: block;
}

.testimonial {
  font-size: 20px;
}

.author {
  font-size: 16px;
  font-style: italic;
}
// Отзывы
// Соцсети
.social__container {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    row-gap: 3rem;
    padding-bottom: 4rem;
    justify-content: center;
    @media (max-width: $l) {
        max-width: 80vw;
    }
}
.social__title{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    color: $text-main;
    font-weight: 500;
    @media (max-width: $l) {
        @include adaptive-font (36, 20);
        text-align: center;
    }
}
.social__icons {
    display: flex;
    list-style: none;
    padding-left: 5rem;
    @media (max-width:$m) {
        padding-left: 3.5rem;
    }
     @media (max-width:$xs) {
        padding-left: 4rem;
     }
  }

  .social__icon-link{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    @media (max-width:$m) {
        width: 8rem;
    }
     @media (max-width:$xs) {
        width: 5rem;
     }
    
    }
    .social__img {
        width: 5rem;
        height: 5rem;
        @media (max-width:$m) {
            width: 4rem;
            height: 4rem;
        }
         @media (max-width:$xs) {
            width: 3rem;
            height: 3rem;
         }
    }
