@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import './vars';
@import './templates';

//О компании//
.about-company{
    &__container{
        background-color: $bg-primary-light;
        background-image: url(../../assets/images/design/about-us__bg-about-company.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 37rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width:$l) {
            width: 100%;
            background-size: cover;
            height: 32rem;
        }
            @media (max-width:$m) {
            height: 30rem;
        }
        @media (max-width:$s) {
            height: 25rem;
            background-position: left;
            justify-content: center;
        }
        @media (max-width:$xs) {
            height: 20rem;
    }
    }
    &__title{
        color: $text-light;
        font-weight: 700;
        margin-right: 2em;
        @media (max-width:$s) {
            margin-right: 0;
        }
    }
}

// О компании
// Центр помощи
.help-center{
    &__title{
        font-weight: 600;
        line-height: 1.5em;
        padding-top: 2em;
        padding-bottom: 1.25em;
        text-align: center;
    }
    &__text{
        @include text-24 ($text-dark, 1.5em);
        padding: 0 2em 1.5em 2em;

    
        @media (max-width: $l) {
            line-height: 1.5em;
        }
    
        @media (max-width: $xs) {
            margin-bottom: 0.5rem;
        }
    } 
}
//Центр помощи
//Документы
.documents{
    &__container{
        text-align: center;
        display: grid;
        grid-template-rows: 1fr, 1fr;
        padding-bottom: 2.5em;
    }

&__buttons{
    display: flex;
    justify-content: space-between;
    @media (max-width:$m) {
        flex-direction: column;
        gap: 1rem;
    }
    @media (max-width:$s) {
        gap: 1.5rem;
    }
}
&__title{
    padding-bottom: 2.25rem;
}
&__link{
    font-size: 1.75rem;
    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        text-align: center;
    }
}
}
.doc-button-item{
    @include mint-btn (24rem, 8rem);
    @media (max-width: $l) {
        @include adaptive-font (28, 14);
        height: 4em;
        width: 12em;
}   
}
//Документы
//Ваша помощь
.your-help{
    background-color: $bg-secondary-light;
    &__container{
        min-height: 61.25rem;
        display: flex;
        @media (max-width: $l) {
            flex-direction: column;
        }
    }
    &__content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 3.125rem;
        @media (max-width: $l) {
            margin-left: 0;
        }
    }
    &__title{
        font-size: 4.25rem;
        color: $text-main;
        font-weight: 500;
        padding-bottom: 1em;
        text-align: center;
        @media (max-width: $l) {
            @include adaptive-font (68, 30);
            padding-top: 1em;
        }
    }
    &__image{
        max-width: 37rem;
        @media (max-width: $l) {
            width: 27em;
        }
        @media (max-width: $m) {
            width: 17em;
        }
        @media (max-width: $s) {
            width: 12em;
        }
    }
    &__img{
        width: 100%;
    }
}

.section-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    &__form {
        font-size: 1.625rem;
        @media (max-width: $l) {
            @include adaptive-font (26, 10);
        }
    }
}

.donation-form {
    border: none;
    @media (max-width: $m) {
        width: 95vw;
    }
    @media (max-width: $s) {
        width: 100vw;
    }
}

.footer_green, footer{
    background-color: $bg-primary-colored;
}
//Ваша помощь