@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import './vars';
@import './templates';
//Header ЛК НКО
.header__account{
    vertical-align: middle;
    cursor: pointer;
}
.header__area{
    width: 9.3rem;
    height: 2.8rem;
    background-color: $bg-main-colored;
    color: $text-light;
}
//Св.-серый блок с Названием И Кнопкой смены пароля
.nko-personal-account__container{
    background-color: $bg-secondary-light;
    .nko-personal-account__name-container{
        height: 5.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-secondary-light;
        margin-bottom: 4rem;
        @media (max-width: $s) {
            margin-bottom: 2rem;
        }
        @media (max-width: $xs) {
            margin-bottom: 2rem;
        }
        .name-container__nko-title{
            font-size: 2.25em;
            font-weight: 500;
            color: $text-main;
            @media (max-width: $l) {
                @include adaptive-font (36, 20);
            }
            @media (max-width: $xs) {
                @include adaptive-font (30,22);
            }
        }
        .name-container__passw-button{
            max-width: 16.25rem;
            width: 100%;
            padding: 5px;
            max-height: 4.25rem;
            border: none;
            border-radius: 0.625rem;
            background-color: $bg-primary-colored;
            font-size: 1.5em;
            color: $text-dark;
            cursor: pointer;
            max-height: 4.25rem;
            height: 100vh;
            @media (max-width: $l) {
                @include adaptive-font (18, 12);
                max-height: 4rem;
                height: 100vh;
            }
            @media (max-width: $s) {
                @include adaptive-font (16, 12);
                max-width: 10rem;
                max-height: 3rem;
            }
            @media (max-width: $xs) {
                @include adaptive-font (12,10);
                max-width: 6.5rem;
                max-height: 2.2rem;
            }
            transition: 0.2s;
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 5px rgba(0, 0, 0, 0.1);
                }
            &:active{
                transform: translateY(-2px);
                box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            }  
        }
    }
}
//Блок Данные компании
.nko-personal-account__company-data{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 4rem;
    .company-data__title{
        color: $text-main;
        font-size: 2.25em;
        font-weight: 400;
        @media (max-width: $l) {
            @include adaptive-font (28, 12);
        }
        @media (max-width: $s) {
            background-color: $bg-main-colored;
            color: $text-light;
            line-height: 2rem;
        }
        @media (max-width: $xs) {
            @include adaptive-font (24, 20);
        }
    }
    .company-data__info-line{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        @media (max-width: $xs) {
            flex-wrap: wrap;
            gap: 0.7rem;
        }
        .info-line__border-text{
            display: flex;
            max-width: 24.2rem;
            width: 100%;
            min-height: 4rem;
            border-radius: 0.625rem;
            background-color:$bg-secondary-light;
            align-items: center;
            padding-left: 0.625rem;
            font-size: 1.5em;
            @media (max-width: $l) {
                @include adaptive-font (20, 16);
                max-width:20rem;
            }
            @media (max-width: $m) {
                @include adaptive-font (16, 14);
                max-width: 14rem;
                width: 100vw;
               
            }
            @media (max-width: $s) {
                @include adaptive-font (16, 14);
                max-width: 14rem;
                width: 100vw;
                max-height: 3rem;
            }
            @media (max-width: $xs) {
                min-width: 18rem;
                background-color:$bg-primary-light;
                @include adaptive-font (20, 18);
            }
        }  
        .info-line__input-text{
            width: 40rem;
            height: 3.625rem;
            border: 5px solid $bg-secondary-light ;
            outline: none;
            border-radius: 0.625rem;
            font-size: 1.5em;
            @media (max-width: $l) {
              
                
                @include adaptive-font (22, 20);
            }
            @media (max-width: $s) {
                min-width: 10rem;
                max-height:3.25rem;
                @include adaptive-font (18, 16);
            }
            @media (max-width: $xs) {
                min-width: 5.5rem;
                max-height: 3rem;
                @include adaptive-font (22, 20);
            }
        }  
        .info-line__edit-btn{
            max-width: 14rem;
            width: 100%;
            padding: 5px;
            max-height: 4.25rem;
            border: none;
            border-radius: 0.625rem;
            font-size: 1.5em;
            color: $text-dark;
            cursor: pointer;
            background-color: rgb(134, 198, 194, 0.5);
            @media (max-width: $l) {
               
                @include adaptive-font (22, 20);
            }
            @media (max-width: $s) {
                min-width: 10rem;
                max-height:4rem;
                @include adaptive-font (18, 16);
            }
            @media (max-width: $xs) {
                max-width: 5.5rem;
               height: 4rem;
                @include adaptive-font (16, 14);
            }
            transition: 0.2s;
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 5px rgba(0, 0, 0, 0.1);
                }
            &:active{
                transform: translateY(-2px);
                box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            }  
        }
    }
}
//Поле загрузки документов 
input[type="file"] {
    max-width: 56rem;
    width: 100%;
    min-height: 4rem;
    border-radius: 0.625rem;
    border: 5px solid  $bg-secondary-light;
    box-sizing: border-box;
    font-size: 1.5em;
    color: blue;
    text-decoration: underline 1px blue;
    vertical-align: middle;
    @media (max-width: $l) {
        width: 100%;
        max-height: 4rem;
        height: 100vh;
        @include adaptive-font (22, 20);
    }
    @media (max-width: $m) {
        min-width: 30.5rem;
        max-height: 4rem;
        height: 100vh;
        @include adaptive-font (20, 18);
    }
    @media (max-width: $s) {
        min-width: 10rem;
        max-height: 3rem;
        @include adaptive-font (18, 16);
    }
    @media (max-width: $xs) {
        min-width: 4rem;
        max-height: 2rem;
        @include adaptive-font (20, 18);
    }
}
input[type="file"]::file-selector-button {
    width: 16.25rem;
    min-height: 4rem;
    padding: 10px;
    border: none;
    background-color: rgb(134, 198, 194, 0.5);
    color:$text-dark;
    cursor: pointer;
    @media (max-width: $l) {
        max-height: 4rem;
        height: 100vh;
        @include adaptive-font (22, 20);
    }
    @media (max-width: $m) {
        max-width: 10rem;
        max-height: 3rem;
        @include adaptive-font (18, 16);
    }
    @media (max-width: $s) {
        min-width: 4rem;
        max-height: 3rem;
        @include adaptive-font (18, 16);
    }
    @media (max-width: $xs) {
        min-width: 4rem;
        max-height: 2rem;
    }
}
//Блок Отчеты компании
.nko-personal-account__company-reports{
    display: flex;
    flex-direction: column;
    row-gap: 2.37rem;
    margin-bottom: 4rem;
    .nko-personal-account__company-reports-container{
        @media (max-width: $m) {
            background-color: $bg-secondary-light;
        }
    }
        .company-reports__title{
            color: $text-main;
            font-size: 2.25em;
            font-weight: 400;
            @media (max-width: $l) {
                @include adaptive-font (28, 12);
            }
            @media (max-width: $s) {
                background-color: $bg-main-colored;
                color: $text-light;
                line-height: 2rem;
            }
            @media (max-width: $xs) {
                @include adaptive-font (24, 20);   
            }
        }
        .company-reports__info-line{
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            @media (max-width: $xs) {
                flex-wrap: wrap;
                gap: 0.5rem;
            }
            @media (max-width: $m) {
                flex-wrap: wrap;
            }
                .info-line__add-text{
                    min-width: 40rem;
                    width: 100%;
                    height: 3.63rem;
                    border: 5px solid $bg-secondary-light ;
                    outline: none;
                    border-radius: 0.625rem;
                    font-size: 1.5em;
                    padding-left: 0.625rem;
                    @media (max-width: $l) {
                        min-width: 30rem;
                        max-height: 4rem;
                        height: 100vh;
                        @include adaptive-font (22, 20);
                    }
                    @media (max-width: $m) {
                        max-height: 3rem;
                        @include adaptive-font (18, 16);
                    }
                    @media (max-width: $xs) {
                        min-width: 5.5rem;
                        max-height: 3rem;
                        @include adaptive-font (22, 20);
                    }
                }
        }
}
.info-line__send-btn{
    max-width: 14rem;
    width: 100%;
    padding: 5px;
    max-height: 4.25rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 1.5em;
    color: $text-dark;
    cursor: pointer;
    background-color:$bg-primary-colored;
    @media (max-width: $l) {
        max-height: 4rem;
        height: 100vh;
        @include adaptive-font (22, 20);
    }
    @media (max-width: $s) {
        min-width: 10rem;
        max-height: 3rem;
    @include adaptive-font (18, 16);
    }
    @media (max-width: $xs) {
        max-width: 5.5rem;
        max-height: 3rem;
        @include adaptive-font (16, 14);
    }
    transition: 0.2s;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 5px rgba(0, 0, 0, 0.1);
        }
    &:active{
        transform: translateY(-2px);
        box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    }  
}
//Блок Заявки пользователей
.nko-personal-account__user-applications{
    display:flex;
    flex-direction: column;
    row-gap: 1.6em;
    margin-bottom: 4rem;
    .user-applications__title{
        color: $text-main;
        font-size: 2.25em;
        font-weight: 400;
        @media (max-width: $l) {
            @include adaptive-font (28, 12);
        }
        @media (max-width: $s) {
            background-color: $bg-main-colored;
            color: $text-light;
            line-height: 2rem;
        }
        @media (max-width: $xs) {
            @include adaptive-font (24, 20);
        }
    }
    .user-applications__info-line{
        display: flex;
        justify-content: space-between;
        gap: 1.6em;
        @media (max-width: $s) {
            flex-wrap: wrap;
            }
        .info-line__border-text{
            max-width: 12.2rem;
            display: flex;
            width: 100%;
            max-height: 4.25rem;
            border-radius: 0.625rem;
            background-color:$bg-secondary-light;
            align-items: center;
            padding-left: 0.625rem;
            font-size: 1.5em;
            @media (max-width: $l) {
                @include adaptive-font (20, 16);
                max-width:10rem;
            }
            @media (max-width: $m) {
                @include adaptive-font (16, 14);
                max-width: 8rem;
                width: 100vw;
                height: 3rem;
            }
            @media (max-width: $xs) {
                min-width: 18rem;
                background-color:$bg-primary-light;
                @include adaptive-font (20, 18);
            }
        }
        .info-line__card-text{
            width: 47.3rem;
            border: 5px solid $bg-secondary-light ;
            border-radius: 0.625rem;
        }
    }
}
.info-line__card-text{
    padding: 0.625rem;
    font-size: 1.5em;
    line-height: 1.6em;
    @media (max-width: $l){
        @include adaptive-font (22, 12);
        line-height: 1.2em;
    }
    .card-text__user-details{
        color: blue;
        text-decoration: underline blue;
    }
}
.info-line__btn{
    max-width: 14rem;
    width: 100%;
    padding: 5px;
    max-height: 4.25rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 1.5em;
    color: $text-dark;
    cursor: pointer;
    background-color: $bg-primary-colored;
    @media (max-width: $l) {
        max-height: 4rem;
        height: 100vh;
        @include adaptive-font (22, 20);
    }
    @media (max-width: $s) {
        min-width: 10rem;
        max-height: 3rem;
        @include adaptive-font (18, 16);
    }
    @media (max-width: $xs) {
        max-width: 5.5rem;
        max-height: 3rem;
        @include adaptive-font (16, 14);
    }
    transition: 0.2s;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 5px rgba(0, 0, 0, 0.1);
        }
    &:active{
        transform: translateY(-2px);
        box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    }  
}
//Блок Вопросы пользователей
.nko-personal-account__user-questions{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 4rem;
  .user-questions__title {
    color: $text-main;
    font-size: 2.25em;
    font-weight: 400;
    @media (max-width: $l) {
        @include adaptive-font (28, 12);
    }
    @media (max-width: $s) {
        background-color: $bg-main-colored;
        color: $text-light;
        line-height: 2rem;
    }
    @media (max-width: $xs) {
        @include adaptive-font (24, 20);
    }
}
    .user-questions__info-line{
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        @media (max-width: $s) {
            flex-wrap: wrap;
            }
    }
}
.info-line__question-text, .info-line__answer-text{
    max-width: 30rem;
    width: 100%;
    padding: 0.625rem;
    border: 5px solid $bg-secondary-light ;
    border-radius: 0.625rem;
    font-size: 1.5em;
    outline: none;
    @media (max-width: $m) {
        width: 20rem;
    }
    @media (max-width: $s) {
        width:30rem;
    }
    .question-text__question{
        width: 100vw;
        border: none;
        outline: none;
        width: 100%;
        overflow: hidden;
        line-height: 1.6em;
        @media (max-width: $l){
        @include adaptive-font (22, 12);
        line-height: 1.2em;
        }   
    }    
}
.question-text__user{
        color: blue;
    text-decoration: underline blue;
    @media (max-width: $l){
        @include adaptive-font (22, 12);
        line-height: 1.2em;
    }
}
