body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 82.5rem;
  margin: 0 auto;
}
@media (max-width: 90rem) {
  .container {
    width: 88.8vw;
  }
}
@media (max-width: 48rem) {
  .container {
    width: 96vw;
  }
}

.centering-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 2.25rem;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 3rem;
}
@media (max-width: 90rem) {
  .main-title {
    line-height: 1.3em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .main-title {
    font-size: calc(16px + 34 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .main-title {
    font-size: calc(16px + 20 * (100vw / 1440));
  }
}

.second-title {
  font-size: 4.25rem;
  color: #156963;
  font-weight: 500;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .second-title {
    font-size: calc(30px + 64.6 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .second-title {
    font-size: calc(30px + 38 * (100vw / 1440));
  }
}

.third-title {
  font-size: 2.25rem;
  color: #156963;
  font-weight: 500;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .third-title {
    font-size: calc(20px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .third-title {
    font-size: calc(20px + 16 * (100vw / 1440));
  }
}

.link {
  color: #156963;
  text-decoration: none;
}

.btns {
  width: 36rem;
  display: flex;
  justify-content: space-between;
  height: 6.68rem;
  font-size: 1.75rem;
  cursor: pointer;
  font-size: 1.75rem;
}
@media (max-width: 90rem) {
  .btns {
    height: 3.8em;
    width: 20.5em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .btns {
    font-size: calc(11px + 28.9 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .btns {
    font-size: calc(11px + 17 * (100vw / 1440));
  }
}

.help {
  background-color: #156963;
  color: #FFFFFF;
  width: 17.5rem;
  border-radius: 10px;
  border: none;
  padding: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: 1em;
}
@media (max-width: 90rem) {
  .help {
    width: 10em;
  }
}

.nko-account {
  background-color: #FFFFFF;
  color: #156963;
  width: 17.5rem;
  border-radius: 10px;
  border: none;
  padding: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: 1em;
}
@media (max-width: 90rem) {
  .nko-account {
    width: 10em;
  }
}

.animation-push {
  transition: 0.2s;
}
.animation-push:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
.animation-push:active {
  transform: translateY(-2px);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.animation-scale:hover {
  transition: 0.2s;
  transform: scale(1.05);
}
.animation-scale:active {
  transform: translateY(-2px);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.animation-color-changing:hover {
  background: #6DA5A2;
  color: #FFFFFF;
  transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.donation-form {
  background: #ECEEF2;
  border: 1px solid;
  width: 46.5rem;
  height: 56.56rem;
  flex-direction: column;
}
@media (max-width: 767px) {
  .donation-form {
    font-size: calc(10px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .donation-form {
    font-size: calc(10px + 16 * (100vw / 1440));
  }
}
@media (max-width: 90rem) {
  .donation-form {
    width: 31em;
    height: 34.8em;
  }
}
@media (max-width: 64rem) {
  .donation-form {
    border: none;
    height: 40em;
  }
}
@media (max-width: 35rem) {
  .donation-form {
    height: 45em;
  }
}
.donation-form hr {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #000;
  flex-grow: 1;
}
.donation-form__container {
  width: 37rem;
}
@media (max-width: 90rem) {
  .donation-form__container {
    width: 22.7em;
  }
}
@media (max-width: 64rem) {
  .donation-form__container {
    width: 28em;
  }
}
@media (max-width: 48rem) {
  .donation-form__container {
    width: 29em;
  }
}
.donation-form__title {
  text-align: center;
  margin-bottom: 1.88rem;
}
@media (max-width: 90rem) {
  .donation-form__title {
    margin-bottom: 0.83em;
  }
}
.donation-form__regularity-btns {
  width: 100%;
  margin-bottom: 0.88rem;
}
@media (max-width: 90rem) {
  .donation-form__regularity-btns {
    margin-bottom: 0.58em;
  }
}
@media (max-width: 35rem) {
  .donation-form__regularity-btns {
    margin-bottom: 0.4em;
  }
}

.payment__monthly {
  width: 17rem;
  height: 5rem;
  background-color: #83BFBC;
  color: #FFFFFF;
  border-radius: 0.625rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.75rem;
}
@media (max-width: 90rem) {
  .payment__monthly {
    width: 9.7em;
    height: 2.85em;
    background-color: #83BFBC;
    color: #FFFFFF;
    border-radius: 0.625rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__monthly {
    font-size: calc(12px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__monthly {
    font-size: calc(12px + 16 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .payment__monthly {
    width: 11.5em;
    height: 2.85em;
    background-color: #83BFBC;
    color: #FFFFFF;
    border-radius: 0.625rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
}

.payment__one-time {
  font-size: 1.75rem;
  width: 17rem;
  height: 5rem;
  background-color: #FFFFFF;
  color: #156963;
  border-radius: 0.625rem;
  border: 0.5px black dashed;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 90rem) {
  .payment__one-time {
    width: 9.7em;
    height: 2.85em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__one-time {
    font-size: calc(12px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__one-time {
    font-size: calc(12px + 16 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .payment__one-time {
    width: 11.5em;
    height: 2.85em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}

.payment__text {
  width: 100%;
}

.payment__title {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 1rem;
}
@media (max-width: 90rem) {
  .payment__title {
    margin: 0.61em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__title {
    font-size: calc(14px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__title {
    font-size: calc(14px + 12 * (100vw / 1440));
  }
}

.sum-btns {
  width: 100%;
  margin-bottom: 0.12rem;
}

.sum-btns > * {
  font-size: 1.25rem;
  width: 10.9rem;
  height: 3.75rem;
  background-color: #FFFFFF;
  color: #156963;
  border-radius: 0.625rem;
  border: 0.5px black dashed;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 90rem) {
  .sum-btns > * {
    width: 8.72em;
    height: 3em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .sum-btns > * {
    font-size: calc(10px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .sum-btns > * {
    font-size: calc(10px + 10 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .sum-btns > * {
    width: 9em;
    height: 3em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}

.types-of-payment {
  width: 100%;
  height: 5rem;
  background-color: #FFFFFF;
  color: #156963;
  border-radius: 0.625rem;
  border: 0.5px black dashed;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.81rem;
  font-size: 1.125rem;
}
@media (max-width: 90rem) {
  .types-of-payment {
    width: 100%;
    height: 2.85em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0.6em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .types-of-payment {
    font-size: calc(10px + 13.6 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .types-of-payment {
    font-size: calc(10px + 8 * (100vw / 1440));
  }
}
@media (max-width: 35rem) and (max-width: 767px) {
  .types-of-payment {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 35rem) and (min-width: 767px) {
  .types-of-payment {
    font-size: calc(12px + 6 * (100vw / 1440));
  }
}
.types-of-payment__img {
  width: 9.44rem;
  height: 2.6rem;
}
@media (max-width: 90rem) {
  .types-of-payment__img {
    width: 5.8em;
    height: 1.6em;
  }
}
@media (max-width: 35rem) {
  .types-of-payment__img {
    display: none;
  }
}
.types-of-payment__img:not(:last-child) {
  margin-right: 0.5rem;
}
@media (max-width: 90rem) {
  .types-of-payment__img:not(:last-child) {
    margin-right: 0.3em;
  }
}
@media (max-width: 64rem) {
  .types-of-payment__img:not(:last-child) {
    margin-right: 0;
  }
}

.payment__input {
  width: 100%;
  height: 3.75rem;
  background-color: #FFFFFF;
  color: #156963;
  border-radius: 0.625rem;
  border: 0.5px black dashed;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-size: 1.25rem;
}
@media (max-width: 90rem) {
  .payment__input {
    width: 100%;
    height: 3em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__input {
    font-size: calc(10px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__input {
    font-size: calc(10px + 10 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .payment__input {
    width: 100%;
    height: 3em;
    background-color: #FFFFFF;
    color: #156963;
    border-radius: 0.625rem;
    border: 0.5px black dashed;
    font-weight: 500;
    cursor: pointer;
  }
}
.payment__input_text {
  text-indent: 1.94rem;
  margin-bottom: 0.9rem;
}
@media (max-width: 90rem) {
  .payment__input_text {
    text-indent: 0.72em;
  }
}
.payment__input_first {
  margin-bottom: 0.81rem;
}
@media (max-width: 90rem) {
  .payment__input_first {
    margin-bottom: 0.6em;
  }
}

::-webkit-input-placeholder,
:-moz-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: #000000;
}
@media (max-width: 35rem) {
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder,
  ::placeholder {
    color: #156963;
  }
}

.payment__link {
  color: #000000;
  text-decoration: none;
}
.payment__link_border {
  border-bottom: 1px solid;
}

.payment__link:hover {
  cursor: pointer;
}

.payment__checkbox {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 1.38rem;
  line-height: 1.3em;
}
@media (max-width: 90rem) {
  .payment__checkbox {
    margin-bottom: 1.22em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__checkbox {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__checkbox {
    font-size: calc(12px + 6 * (100vw / 1440));
  }
}
.payment__checkbox.payment__checkbox_first,
.payment__checkbox > .payment__document {
  border: none;
  margin-bottom: 0.3rem;
}
@media (max-width: 90rem) {
  .payment__checkbox.payment__checkbox_first,
  .payment__checkbox > .payment__document {
    margin-bottom: 0.26em;
  }
}
.payment__checkbox .payment__document {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
  position: relative;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: dashed;
  border-width: 1px;
  border-color: #000000;
  background-color: #FFFFFF;
}
@media (max-width: 90rem) {
  .payment__checkbox .payment__document {
    width: 2em;
    height: 2em;
    margin-right: 0.8em;
  }
}
.payment__checkbox .payment__document::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: none;
}
.payment__checkbox .payment__document:hover {
  cursor: pointer;
}
.payment__checkbox .payment__document:checked::before {
  background-image: url("../images/icons/payment__check-mark.png");
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 90rem) {
  .payment__checkbox .payment__document:checked::before {
    background-size: 70% auto;
  }
}

.payment__donation {
  width: 100%;
  height: 5rem;
  background-color: #83BFBC;
  color: #FFFFFF;
  border-radius: 0.625rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 2.25rem;
}
@media (max-width: 90rem) {
  .payment__donation {
    width: 100%;
    height: 2em;
    background-color: #83BFBC;
    color: #FFFFFF;
    border-radius: 0.625rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .payment__donation {
    font-size: calc(18px + 30.6 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .payment__donation {
    font-size: calc(18px + 18 * (100vw / 1440));
  }
}

.title {
  font-size: 2.25rem;
  color: #156963;
  font-weight: 500;
  margin-bottom: 3rem;
}
@media (max-width: 90rem) {
  .title {
    text-align: center;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .title {
    font-size: calc(20px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .title {
    font-size: calc(20px + 16 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 48rem) {
  .title {
    margin-bottom: 1.5rem;
  }
}

.documents {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  row-gap: 2rem;
  padding-bottom: 4rem;
}
.documents__title {
  font-size: 2.25rem;
  color: #156963;
  font-weight: 500;
  margin-bottom: 3rem;
}
@media (max-width: 90rem) {
  .documents__title {
    text-align: center;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .documents__title {
    font-size: calc(20px + 27.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .documents__title {
    font-size: calc(20px + 16 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .documents__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 48rem) {
  .documents__title {
    margin-bottom: 1.5rem;
  }
}
.documents__buttons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 64rem) {
  .documents__buttons {
    gap: 1rem;
  }
}
@media (max-width: 48rem) {
  .documents__buttons {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.documents__link {
  font-size: 1.75rem;
}
@media (max-width: 90rem) {
  .documents__link {
    text-align: center;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .documents__link {
    font-size: calc(14px + 23.8 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .documents__link {
    font-size: calc(14px + 14 * (100vw / 1440));
  }
}
.documents .doc-button-item {
  width: 24rem;
  height: 8rem;
  background-color: #83BFBC;
  color: #FFFFFF;
  border-radius: 0.625rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 90rem) {
  .documents .doc-button-item {
    height: 4em;
    width: 12em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .documents .doc-button-item {
    font-size: calc(14px + 23.8 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .documents .doc-button-item {
    font-size: calc(14px + 14 * (100vw / 1440));
  }
}
.documents .doc-button-item:hover {
  background: #6DA5A2;
}

.scroll::-webkit-scrollbar {
  width: 1rem;
  background-color: #DEDEDE;
  border-radius: 1rem;
}
@media (max-width: 64rem) {
  .scroll::-webkit-scrollbar {
    width: 0.5rem;
  }
}
@media (max-width: 48rem) {
  .scroll::-webkit-scrollbar {
    width: 0.25rem;
    background-color: #BEBEBE;
  }
}

.scroll::-webkit-scrollbar-track {
  background-color: #DEDEDE;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem;
}
@media (max-width: 48rem) {
  .scroll::-webkit-scrollbar-track {
    background-color: #BEBEBE;
  }
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #83BFBC;
  border-radius: 1rem;
}
@media (max-width: 64rem) {
  .scroll::-webkit-scrollbar-thumb {
    background-color: #156963;
  }
}

.header {
  background: #83BFBC;
}
.header__container {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.25em;
}
@media (max-width: 90rem) {
  .header__container {
    padding: 0.4em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .header__container {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .header__container {
    font-size: calc(10px + 6 * (100vw / 1440));
  }
}
.header__logo {
  width: 6rem;
}
@media (max-width: 90rem) {
  .header__logo {
    width: 6em;
  }
}
@media (max-width: 35rem) {
  .header__logo {
    width: 5em;
  }
}
.header__content {
  display: flex;
  align-items: center;
}
.header__navig {
  display: flex;
}
.header__link {
  margin-right: 4.3rem;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 64rem) {
  .header__link {
    margin-right: 1em;
  }
}
@media (max-width: 48rem) {
  .header__link {
    margin-right: 0.4em;
  }
}
@media (max-width: 35rem) {
  .header__link {
    margin-right: 1em;
  }
}
.header__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.header__link:hover:after {
  display: block;
}
.header__search {
  margin-right: 2.25rem;
  width: 2.4rem;
}
@media (max-width: 90rem) {
  .header__search {
    width: 2.4em;
  }
}
@media (max-width: 64rem) {
  .header__search {
    margin-right: 0.6vw;
  }
}
@media (max-width: 48rem) {
  .header__search {
    width: 2em;
  }
}
@media (max-width: 35rem) {
  .header__search {
    margin-right: 3vw;
  }
}
.header__account {
  margin-right: 1.12rem;
  width: 2.12rem;
}
@media (max-width: 90rem) {
  .header__account {
    width: 2.12em;
  }
}
@media (max-width: 64rem) {
  .header__account {
    margin-right: 1.25vw;
  }
}
@media (max-width: 48rem) {
  .header__account {
    width: 1.5em;
  }
}
@media (max-width: 35rem) {
  .header__btns {
    display: none;
  }
}
.header__registration {
  font-size: 0.875rem;
  background-color: #156963;
  color: #FFFFFF;
  width: 9.4rem;
  border-radius: 10px;
  border: none;
  padding: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: 1em;
  margin-right: 0.5rem;
}
@media (max-width: 90rem) {
  .header__registration {
    background-color: #156963;
    color: #FFFFFF;
    width: 9.4em;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1em;
    margin-right: 1.1vw;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .header__registration {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .header__registration {
    font-size: calc(9px + 5 * (100vw / 1440));
  }
}
@media (max-width: 48rem) {
  .header__registration {
    background-color: #156963;
    color: #FFFFFF;
    width: 9em;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1em;
  }
}
.header__area {
  font-size: 0.875rem;
  background-color: #FFFFFF;
  color: #156963;
  width: 9.4rem;
  border-radius: 10px;
  border: none;
  padding: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: 1em;
}
@media (max-width: 90rem) {
  .header__area {
    background-color: #FFFFFF;
    color: #156963;
    width: 9.4em;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .header__area {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .header__area {
    font-size: calc(9px + 5 * (100vw / 1440));
  }
}
@media (max-width: 48rem) {
  .header__area {
    background-color: #FFFFFF;
    color: #156963;
    width: 9em;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1em;
  }
}

.footer {
  color: #156963;
  background: #ECEEF2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  font-size: 1rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .footer {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .footer {
    font-size: calc(10px + 6 * (100vw / 1440));
  }
}
@media (max-width: 64rem) {
  .footer {
    height: 11rem;
  }
}
@media (max-width: 48rem) {
  .footer {
    height: 9rem;
  }
}
@media (max-width: 35rem) {
  .footer {
    height: 8rem;
  }
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73.5rem;
}
@media (max-width: 90rem) {
  .footer__container {
    width: 82vw;
  }
}
@media (max-width: 75rem) {
  .footer__container {
    width: 94vw;
  }
}
.footer__logo {
  width: 9.4rem;
}
@media (max-width: 90rem) {
  .footer__logo {
    width: 9em;
  }
}
@media (max-width: 58rem) {
  .footer__logo {
    margin-right: 1rem;
  }
}
@media (max-width: 48rem) {
  .footer__logo {
    display: none;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 17.3rem;
  min-height: 9.4rem;
}
@media (max-width: 64rem) {
  .footer__column {
    min-height: 8.5rem;
  }
}
@media (max-width: 75rem) {
  .footer__column {
    max-width: 25vw;
  }
}
@media (max-width: 48rem) {
  .footer__column {
    min-height: 7rem;
    max-width: 30vw;
  }
}
@media (max-width: 35rem) {
  .footer__column {
    min-height: 6rem;
  }
}
.footer__column:nth-child(2) {
  max-width: 21rem;
}
@media (max-width: 75rem) {
  .footer__column:nth-child(2) {
    max-width: 25vw;
  }
}
@media (max-width: 48rem) {
  .footer__column:nth-child(2) {
    margin-right: 1rem;
    max-width: 30vw;
  }
}
@media (max-width: 35rem) {
  .footer__column:nth-child(3) {
    justify-content: start;
  }
}
@media (max-width: 64rem) {
  .footer__column:nth-child(3) .footer__title {
    margin-bottom: 1.3rem;
  }
}
@media (max-width: 35rem) {
  .footer__column:nth-child(3) .footer__title {
    margin-bottom: 1rem;
  }
}
.footer__column:nth-child(3) .footer__text:not(:last-child) {
  margin-bottom: 0.4rem;
}
@media (max-width: 48rem) {
  .footer__column:not(:last-child) {
    margin-right: 1rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.27rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .footer__title {
    font-size: calc(12px + 18.7 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .footer__title {
    font-size: calc(12px + 11 * (100vw / 1440));
  }
}
@media (max-width: 75rem) {
  .footer__title {
    margin-bottom: 0.88em;
  }
}
.footer__text {
  font-size: 1rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .footer__text {
    font-size: calc(8px + 13.6 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .footer__text {
    font-size: calc(8px + 8 * (100vw / 1440));
  }
}
.footer__text:not(:last-child) {
  margin-bottom: 0.75em;
}

.nav-footer {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .nav-footer {
    font-size: calc(14px + 15.3 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .nav-footer {
    font-size: calc(14px + 9 * (100vw / 1440));
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
.news {
  flex-direction: column;
}
.news__line {
  margin: 3.1rem 0;
  border: none;
  border-top: 1px solid #83BFBC;
}
@media (max-width: 90rem) {
  .news__line {
    margin: 2.7em 0;
  }
}
@media (max-width: 64rem) {
  .news__line {
    margin: 1.7em 0;
  }
}
@media (max-width: 48rem) {
  .news__line {
    margin: 1em 0;
  }
}

.main-block {
  background: url(../images/design/news__main-with-text.png) center no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 38.31rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .main-block {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main-block {
    font-size: calc(10px + 6 * (100vw / 1440));
  }
}
@media (max-width: 90rem) {
  .main-block {
    margin-bottom: 4.5em;
    height: 38.31em;
  }
}
@media (max-width: 48rem) {
  .main-block {
    background: url(../images/design/news__main-with-text.png) center/cover no-repeat;
    background-position-x: 60%;
    margin-bottom: 3em;
  }
}
.main-block__title {
  color: #FFFFFF;
  font-weight: 700;
  display: none;
}

.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .new {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .new {
    font-size: calc(10px + 6 * (100vw / 1440));
  }
}
.new__date {
  color: #83BFBC;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.31rem;
}
@media (max-width: 90rem) {
  .new__date {
    margin-bottom: 0.87em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .new__date {
    font-size: calc(15px + 15.3 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .new__date {
    font-size: calc(15px + 9 * (100vw / 1440));
  }
}
.new__title {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.31rem;
  text-align: center;
}
@media (max-width: 90rem) {
  .new__title {
    margin-bottom: 0.87em;
  }
}
@media (max-width: 48rem) {
  .new__title {
    text-align: start;
  }
}
.new__text {
  font-size: 1.125rem;
  line-height: 125%;
  font-weight: 300;
}
.new__text:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .new__text {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .new__text {
    font-size: calc(12px + 6 * (100vw / 1440));
  }
}
@media (max-width: 90rem) {
  .new__text:not(:last-child) {
    margin-bottom: 0.87em;
  }
}
.new__img {
  width: 100%;
  margin-bottom: 1.6rem;
}
@media (max-width: 90rem) {
  .new__img {
    margin-bottom: 1.6em;
  }
}

.more,
.less {
  cursor: pointer;
  color: #83BFBC;
  text-decoration: underline;
  font-weight: 300;
  font-size: 1.125rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .more,
  .less {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .more,
  .less {
    font-size: calc(12px + 6 * (100vw / 1440));
  }
}

.pagination {
  display: flex !important;
  justify-content: center;
  margin-bottom: 3.1rem;
  border: none;
}
@media (max-width: 90rem) {
  .pagination {
    margin-bottom: 2.7em;
  }
}
@media (max-width: 64rem) {
  .pagination {
    margin-bottom: 1.7em;
  }
}
@media (max-width: 48rem) {
  .pagination {
    margin-bottom: 1em;
  }
}
.pagination .page-number {
  color: #156963;
  font-size: 1.5rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0 0.3rem;
  padding: 0;
  display: inline;
  position: relative;
}
@media (max-width: 90rem) {
  .pagination .page-number {
    margin: 0 0.2em;
  }
}
@media (max-width: 90rem) and (max-width: 767px) {
  .pagination .page-number {
    font-size: calc(15px + 15.3 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .pagination .page-number {
    font-size: calc(15px + 9 * (100vw / 1440));
  }
}
.pagination .page-number_active {
  color: #156963;
  text-decoration: underline;
  font-size: 2rem;
}
@media (max-width: 90rem) and (max-width: 767px) {
  .pagination .page-number_active {
    font-size: calc(20px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 90rem) and (min-width: 767px) {
  .pagination .page-number_active {
    font-size: calc(20px + 12 * (100vw / 1440));
  }
}/*# sourceMappingURL=news.css.map */